.logo-text h1 {
    font: 700 32px/14.72px "Actay Wide", sans-serif;
}

.search {
    padding: 5px 0;
}

.search-white {
    border-bottom: 1px solid white;
}

.search-black {
    border-bottom: 1px solid rgb(0, 0, 0);
    font-size: 14px;
    line-height: 6.44px;
}

.arrow-icon {
    width: 16px;
    height: 16px;
}

.icon {
    width: 40px;
    height: 40px;
}

.modal {
    width: 100vw;
    height: 100vh;
    color: black;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.modal.active {
    opacity: 1;
    pointer-events: auto;
}

.modal-container {
    width: 100vw;
    padding: 30px 15px;
    background-color: white;
    color: black;
}

.logo-light {
    color: #f2f3ef;
}

.cross-text {
    font-size: 12px;
    line-height: 5.52px;
    text-align: center;
}

.modal-menu-items {
    font-size: 14px;
    line-height: 17.39px;
    text-align: center;
}

.title {
    margin-top: 30px;
    font: 700 90px/113.67px "Actay Wide", sans-serif;
}

.blocks {
    padding: 0 20px;
}

.block {
    width: 286px;
    height: 79px;
    color: #f6ffd2;
    background: #ffffff4d;
    border: 3px solid #ffffff;
    border-radius: 35px 0px 35px 0px;
    box-shadow: 0px 4px 15px 0px #ffffff59;
    position: absolute;
}

.ellipse {
    width: 51px;
    height: 51px;
    background: #5e7600;
    border: 1px solid #ffffff;
    border-radius: 50%;
}

.text-ellipse {
    font-size: 30px;
    box-shadow: 0px 10px 6px 0px #ffffff26;
}

.text-block {
    width: 195px;
    font-size: 14px;
    line-height: 18.2px;
    letter-spacing: 0.8px;
    font-weight: 100;
    text-align: justify;
}

.vector {
    width: 13px;
    top: -11px;
    right: -12px;
    position: absolute;
}

.slider {
    display: none;
    width: 100%;
    font-size: 14px;
    font-weight: 100;
    line-height: 18.2px;
    letter-spacing: 0.8px;
}

.arrow-slider {
    width: 20px;
    height: 16px;
}

.arrow-left {
    transform: scaleX(-1);
}

.line {
    position: absolute;
}

@media (max-width: 1279px) {
    .header-menu-items {
        display: none;
    }
    .search-white {
        display: none;
    }
    .burger {
        display: flex;
    }
    .main {
        gap: 20px;
    }
    .title {
        margin-bottom: 10px;
        font: 700 35px/44.21px "Actay Wide", sans-serif;
    }
    .blocks {
        width: 100%;
    }
    .block {
        width: 100%;
        height: 232px;
        padding: 40px 10px;
        position: static;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .ellipse {
        width: 74px;
        height: 73px;
    }
    .text-ellipse {
        font-size: 50px;
    }
    .text-block {
        width: 254px;
        letter-spacing: 0.8px;
        font-weight: 100;
        text-align: center;
    }
    .vector {
        width: 19px;
        top: -22px;
        right: -18px;
        position: absolute;
    }
    .slider {
        display: flex;
    }
    .line {
        display: none;
    }
}

@media (max-height: 832px) {
    .title {
        margin-bottom: 5px;
        margin-top: 5px;
    }
}
